/****************************** top navigator *************************************/
.nav-bar{
    background-color:rgba(10, 30, 90, 0.9);
    position:absolute;
    width:100%;
    z-index:100;
}
@media screen and (min-width:1000px) {
    .nav-wrapper{
        width:1000px;
        margin:auto auto auto auto;
    }
}
@media screen and (max-width:1000px) {
    .nav-wrapper{
        width:100%;
    }
}
.heading{
    color:white;
    text-align:left;
    padding-left:0.5em;
    font-family:Georgia;
    font-weight:bold;
}
.nav{
    padding:0.9em 2em 0.9em 2em;
    color:white;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    display:inline-block
}
.nav:hover{
    background-color:rgba(133, 143, 163, 0.65);
}

/**************************** page background *********************************/
.mybackground{
    background-image:url("../image/picture.png");
    background-position:0px 140px;
    background-size:100% auto;
    width:100%;
    height:100%;
    padding-top:130px;  /*reserve space for top navigator*/
    background-color:rgb(200, 200, 200);
    background-repeat:no-repeat;
    background-position-x:center;
    background-attachment:fixed;
}

/***************************** footer sytle ******************************/
.footer{
    background-color:rgba(10, 30, 90, 0.9);
    color:white;
}
@media screen and (min-width:1000px) {
    .footer-wrapper{
        width:1000px;margin-left:auto;margin-right:auto;
    }
}
@media screen and (max-width:1000px) {
    .footer-wrapper{
        width:100%;
    }
}
.footer-wrapper{
    padding-top:1em;padding-bottom:1em;
}

/******************************** 主内容页面 ****************************/
@media screen and (min-width:1000px) {
    .page{
        width:1000px;margin-left:auto;margin-right:auto
    }
}
@media screen and (max-width:1000px) {
    .page{
        width:96%;
        margin-left:2%;
        margin-right:2%;
    }
}
.page-wrapper{
    right:0;
    margin:15px 0 15px 0;
    border:1px solid rgba(128, 128, 128, 0.92);
    padding:20px 30px 20px 30px;
    background-color:rgba(255, 255, 255, 0.92);
    font-size:18px;
    text-align:left;
}

/******************************* button **********************************/
.mybutton{
    border-radius:4px;
    padding:0.1em 0.3em 0.1em 0.3em;
    background-color:gainsboro;
    border:1px solid gray;
    outline:none !important;
}
.mybutton:hover{
    background-color:rgba(211, 211, 211, 0.65);
}
.myaudio{
    height:50px;
    outline:none;
}
.mytextarea{
    border-radius:15px;
    width:100%;
    outline:none;
    padding:0 1em 0 1em;
}
.myselect{
    width:100px;
    height:30px;
    margin:10px 0 10px 0;
    border-radius:15px;
    outline:none;
}

/********************************** Divider lines *****************************************/
hr.dashed {
    border-top: 2px dashed #bbb;
}
hr.dotted {
    border-top: 2px dotted #bbb;
}
hr.solid {
    border-top: 3px solid #bbb;
}
hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

/************************************* Table formatting ******************************/

.tg  {border-collapse:collapse;border-spacing:0;margin:auto;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-3psh{background-color:#FFF;border-color:inherit;color:#24292F;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-nvaa{background-color:#FFF;border-color:inherit;color:#24292F;text-align:center;vertical-align:top}

/*************************** Headers style *****************************/
h1 {
    font-weight:bold;
}
h2 {
    font-weight:bold;
}
h3 {
    font-weight:bold;
}